{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title|capfirst }}
{% endblock %}

{% block content %}

<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>О нас</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-image">
                    <img src="{% static 'assets/images/diverse-people-with-shopping-bags_53876-94710.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>О компании</h4>
                    <p>Бренд Тёти Васи - это молодая, бурно развивающаяся фирма в Казахстане, предлагающая вам самую качественную одежду по приятным ценам.</p>
                    <br>
                    <p>Наш магазин - это большое количество разнообразной базовой одежды на каждый день.</p>
                    <br>
                    <p>Мы искренне любим свое дело и хотим дарить крутые эмоции.
                        <br>Нам важно поддерживать свяхь с нашими клиентами,  поэтому если у вас возникли вопросы или замечания к работе команды, обращайтесь по <a href="https://ru-ru.facebook.com/">этой ссылке</a>.</p>
                    <br>
                    <p>
                        Искренне ваша Тётя Вася.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page Ends Here -->
{% endblock %}
