{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|capfirst }}{% endblock %}

{% block content %}

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Онлайн-Магазин Тёти Васи</h2>
                    <div class="line-dec"></div>
                    <p>Здесь вы найдёте самые нежные и красивые вещи по лучшей цене.
                        <br><br>Множество потрясающих продуктов найдёте в разделе "Наши Товары". Чтобы перейти туда нажмите "Заказать Сейчас!"<br><br>Чтобы поддержать нас, можете поделиться со своими друзьями
                        <a rel="nofollow" href="https://www.facebook.com/">ссылкой на наш сайт.</a>
                    </p>
                    <div class="main-button">
                        <a href="/products/">Заказать сейчас!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Наши товары</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    {% for product in products %}

                    <a href="{% url 'products:product' product.pk %}">
                        <div class="featured-item">
                            <img src="/media/{{ product.image }}" alt="{{ product.name|capfirst }}">
                            <h4>{{ product.name|capfirst }}</h4>
                            <h6>{{ product.price }}</h6>
                        </div>
                    </a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

